/*全部*/
* {
  margin: 0;
  padding: 0;
}

.content-img {
  height: 360px;
  background-image: url(../images/plant/background.jpg);
  background-size: 100% 100%;
  background-repeat: space;
  color: white;
  border-radius: 8px;
}

.content-img > .title {
  /*border: white 2px;*/
  /*text-align: left;*/
  padding-left: 150px;
  padding-top: 100px;
  font-size: 48px;
  /*height: 360px;*/
  /*background-color: white;*/
  /*background-image: url(../images/plant/background.jpg);*/
  /*background-size: 100% 100%;*/
  /*background-repeat: space;*/
}

.content-img > .content-img-button {
  float: left;
  /*border: 1px solid red;*/
  height: 120px;
  width: 1200px;
  padding-left: 150px;
  padding-top: 50px;
}

.content-img > .content-img-button > a > button {
  width: 100px;
  height: 40px;
  font-size: 14px;
  border: none;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  font-weight: 200;
}

.content-img > .content-img-button > a > button:hover {
  background-color: rgb(122, 173, 250);
}

.content-img > .text {
  border: white 2px;
  /*text-align: left;*/
  padding-left: 150px;
  padding-top: 50px;
  font-size: 14px;
}

.content {
  border-bottom: 2px solid #ccc;
  height: 1350px;
}

.content > h2 {
  text-align: center;
  margin-top: 20px;
  /*text-indent: 3px;*/
  font-size: 26px;
  font-weight: 400;
}

.content > .func-1 {
  width: 1000px;
  /*background-color: red;*/
  height: 150px;
  margin: 50px auto;
  text-align: center;
}

.content > .func-1 > div {
  width: 50%;
  height: 150px;
  /*border: 1px solid;*/
  /* background-color: red; */
  float: left;
  text-align: center;
}

.content > .func-1 > div > ul {
  list-style: none;
  text-align: center;
}

.content > .func-1 > div > .h2_1 {
  background-image: url("../images/plant/func_1.png");
  background-repeat: no-repeat;
  background-position: 25% 50%;
  background-size: 8%;
  height: 100px;
  font-size: 22px;
  text-align: center;
  line-height: 100px;
  margin-left: 0;
}

.content > .func-1 .text-little {
  height: 36px;
  width: 200px;
  font-size: 10px;
  color: black;
  line-height: 36px;
  /*border: 1px solid;*/
  /*background-color: brown;*/
}

.content > .func-1 > div > .h2_2 {
  background-image: url("../images/plant/func_2.png");
  background-repeat: no-repeat;
  background-position: 25% 50%;
  background-size: 8%;
  height: 100px;
  font-size: 22px;
  text-align: center;
  line-height: 100px;
  margin-left: 0;
}

.content > .func-1 > div > div > ul {
  list-style: none;
  /*border: 1px solid;*/
}

.content > .func-1 .text-blue {
  font-size: 18px;
  list-style: none;
  line-height: 50px;
  color: #3a8ee6;
  /*border: 1px solid;*/
  /*border-bottom: #ccc 2px solid;*/
  width: 35%;
  margin: 0 auto;
}

.content > .func-1 .text-blue {
  text-decoration: none;
  color: #3a8ee6;
  font-size: 18px;
  line-height: 50px;
}

.content > .func-1 > div > div > ul > li {
  text-decoration: none;
  height: 50px;
  font-size: 18px;
  color: #ccc;
  line-height: 50px;
}

.content > .func-1 > div > div > ul > li {
  height: 50px;
  font-size: 18px;
  color: #ccc;
  list-style: none;
  /*border-bottom: #ccc 2px solid;*/
  line-height: 50px;
  width: 35%;
  margin: 0 auto;
}

.content > .func-2 {
  width: 1000px;
  /*background-color: red;*/
  height: 500px;
  margin: 50px auto;
  text-align: center;
}

.content > .func-2 > .img-big {
  width: 70%;
  height: 530px;
  /* border: 1px solid; */
  /* background-color: red; */
  float: left;
  text-align: center;
}

.content > .func-2 > .img-big > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.content > .func-2 > .img-small {
  width: 30%;
  height: 530px;
  /* border: 1px solid; */
  /* background-color: red; */
  float: left;
  text-align: center;
}

.content > .func-2 > .img-small > img {
  width: 200px;
  height: 120px;
  border-radius: 20px;
  /* border: 1px solid; */
  /* background-color: red; */
  /*float: left;*/
  /*text-align: center;*/
}

.content > .func-2 > div:hover {
  color: #b4bccc;
  cursor: pointer;
}

.content > .func-3 {
  width: 1200px;
  /*background-color: red;*/
  /*border: 1px solid;*/
  height: 250px;
  margin: 50px auto;
  text-align: center;
}

.content > .func-3 > .left-text {
  width: 65%;
  /*border: 1px solid;*/
  /*background-color: red;*/
  float: left;
  text-align: center;
  line-height: 150px;
}

.content > .func-3 > .left-text > h2 {
  height: 60px;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  line-height: 100px;
  margin-left: 100px;
}

.content > .func-3 > .right-img {
  width: 25%;
  /*border: 1px solid;*/
  /* background-color: red; */
  float: left;
  /*margin-top: 30px;*/
  text-align: center;
}

.content > .func-3 > .right-img > img {
  width: 280px;
  height: 158px;
  border-radius: 8px;
}

.content > .func-3 .text-little {
  height: 36px;
  width: 600px;
  font-size: 16px;
  color: black;
  line-height: 36px;
  text-align: center;
  /*border: 1px solid;*/
  /*background-color: brown;*/
  margin: 0 auto;
}

/*.content > .func-3 > div > .h2_2{*/
/*  background-image: url("images/plant/func_2.png");*/
/*  background-repeat: no-repeat;*/
/*  background-position: 25% 50% ;*/
/*  background-size: 8%;*/
/*  height: 100px;*/
/*  font-size: 22px;*/
/*  text-align: center;*/
/*  line-height: 100px;*/
/*  margin-left: 0;*/
/*}*/

/*.content > .func-3 > div:hover {*/
/*  color: #b4bccc;*/
/*  cursor: pointer;*/
/*}*/

.content > .func-3 > div > h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 444;
}


.content > .func-3 > .bottom-button {
  float: left;
  /*border: 1px solid red;*/
  height: 100px;
  width: 1200px;
  padding-top: 50px;

}

.content > .func-3 > .bottom-button > a > button {
  width: 100px;
  height: 40px;
  font-size: 14px;
  border: none;
  background-color: dodgerblue;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.content > .func-3 > .bottom-button > a > button:hover {
  background-color: rgb(122, 173, 250);
}
